<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://java.sun.com/xml/ns/javaee"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/beans_1_0.xsd">
    <alternatives>
        <class>at.heli.scada.bl.InstallationService</class>
        <class>at.heli.scada.bl.CustomerService</class>
        <class>at.heli.scada.bl.StatisticService</class>
        <class>at.heli.scada.bl.PersonService</class>
        <class>at.heli.scada.bl.EngineerService</class>
        <class>at.heli.scada.dal.DbCustomerRepository</class>
        <class>at.heli.scada.dal.DbEngineerRepository</class>
        <class>at.heli.scada.dal.DbPersonRepository</class>
        <class>at.heli.scada.dal.DbMeasurementRepository</class>
        <class>at.heli.scada.dal.DbInstallationRepository</class>
        <class>at.heli.scada.dal.DbTypeRepository</class>
    </alternatives>
</beans>
